@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Road+Rage&display=swap&family=Poiret+One&display=swap');
// Fonts
$font-primary: 'Fira Sans', sans-serif;
$font-display: 'Road Rage', sans-serif;
$font-title: 'Poiret One', cursive;

// Colors
$color-1: #D7F205;
$color-2: #7D8C0B;
$color-3: #F2E205;

$color-gs-0: #000000;
$color-gs-1: #0b1014;
$color-gs-2: #252e36;
$color-gs-3: #3d454d;
$color-gs-4: #52595f;
$color-gs-5: #6b7379;

$color-ct-0: #9ca3a8;
$color-ct-1: #dbdee1;
$color-ct-2: #ffffff;